@use '@/popup/assets/styles/variables.scss' as *;

.text-input {
    border: none;
    outline: none;
    background: #0000;
    color: $color-blue-100;
    border-bottom: 1px solid rgba($color-blue-100, 0.6);
    flex: 1;
    font-size: 0.9rem;
    transition: border-bottom-color 0.15s ease-in-out;

    &::placeholder {
        color: $color-blue-100;
    }

    &:focus {
        border-bottom-color: $color-blue-100;
    }
}
