@use '@/popup/assets/styles/variables.scss' as *;

.toggle-switch {
    display: flex;

    &__checkbox {
        position: fixed;
        top: -100vh;
        left: -100vw;
    }

    &__label {
        display: inline-block;
        width: 3rem;
        height: 1.5rem;
        background-color: rgba($color-blue-900, 0.6);
        border: 1px solid rgba($color-blue-300, 0.6);
        border-radius: 0.75rem;
        backdrop-filter: blur(4px);
        cursor: pointer;

        transition: background-color 0.15s ease-in-out;

        .toggle-switch__checkbox:checked + & {
            background-color: rgba($color-blue-500, 0.6);
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: $color-blue-100;
            height: calc(1.2rem - 2px);
            aspect-ratio: 1;
            border-radius: 50%;
            top: 0.15rem;
            left: 0.15rem;

            transition-duration: 0.15s;
            transition-timing-function: ease-in-out;
            transition-property: left, opacity;

            .toggle-switch__checkbox:checked + & {
                left: 1.65rem;
            }
        }

        &::before {
            mask: url('@/popup/assets/icons/cross.svg') no-repeat center / contain, linear-gradient(#000 0 0);
            mask-composite: exclude;
            opacity: 1;

            .toggle-switch__checkbox:checked + & {
                opacity: 0;
            }
        }

        &::after {
            mask: url('@/popup/assets/icons/checkmark.svg') no-repeat center / contain, linear-gradient(#000 0 0);
            mask-composite: exclude;
            opacity: 0;

            .toggle-switch__checkbox:checked + & {
                opacity: 1;
            }
        }
    }
}
