@use '@/popup/assets/styles/variables.scss' as *;

.translucent-button {
    color: $color-light;
    background-color: rgba($color-blue-500, 0.6);
    border: 1px solid rgba($color-blue-300, 0.6);
    border-radius: 1.25rem;
    padding: 0.5rem;
    backdrop-filter: blur(4px);
    font-size: 0.9rem;
    cursor: pointer;
    min-height: 2.5rem;

    transition-duration: 0.15s;
    transition-timing-function: ease-out;
    transition-property: background-color, border-color;

    &:hover {
        background-color: rgba($color-blue-500, 0.5);
        border-color: #0000;
    }

    &:active {
        transition-duration: 0.03s;
        background-color: rgba($color-blue-500, 0.3);
        border-color: #0000;
    }

    &:focus-visible {
        outline: 2px solid $color-blue-100;
        outline-offset: -2px;
    }
}
